__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
# build/ <- Removed to allow build scripts
build/venv/
build/output/
build/temp/
build/pyinstaller/
docnexus.spec
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/
site/
.DS_Store
workspace/
logs/
bin/
# Local Dev
docnexus/plugins_dev/
